/* Start SideBar */

.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #2a2d3e;
    position: relative;
}

.sidebar .s-logo{
    padding: 40px;
}

.sidebar .s-logo .logo,
.sidebar .s-logo .name{
    height: 20px;
}

.sidebar .s-logo .logo img{
    width: 25px;
    height: 25px;
}

.sidebar .s-logo .name{
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
}

.sidebar .s-links{
    padding: 20px;
    color: #d7d9e4;
}

.sidebar .s-links ul li{
    padding: 10px 20px;
}

.sidebar .s-links ul li a{
    color: #9c9da8;
    display: block;
    width: 100%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
}

.sidebar .s-links .s-l-active{
    background: linear-gradient(90deg, #3198f7, #64b4ff);
    border-radius: 10px;
    cursor: pointer;
}

.sidebar .s-links ul li:hover a{
    color: rgb(207, 208, 212);
}

.sidebar .s-links .s-l-active a{
    color: white;
}

.sidebar .s-links .s-l-active:hover a{
    color: white;
}

.sidebar .s-links li svg path{
    font-size: 30px;
}


.sidebar .s-links ul li a span{
    margin-left: 12.5px;
}


.sidebar .logout{
    position: absolute;
    bottom: 30px;
    right: 30px;
    left: 30px;
    background-color: #212332;
    border-radius: 10px;
    height: 40px;
    color: #808080;
    font-family: 'Chakra Petch', sans-serif;
}

.sidebar .logout:hover{
    background: linear-gradient(90deg, #3198f7, #64b4ff);
    color: white;
    cursor: pointer;
}

.sidebar .logout span{
    font-size: 13px;
    margin-left: 5px;
}




/* End SideBar */






/* Start Pagination */






.pagination{
    display: flex;
    justify-content: flex-end;
}

.pagination .wrapper{
    background-color: #212332;
    color: #FFF;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 13px;
    padding: 5px;
}

.pagination .wrapper .flexing{
    height: 30px;
}

.pagination .wrapper .flexing .left, 
.pagination .wrapper .flexing .left-unclickable, 
.pagination .wrapper .flexing .right, 
.pagination .wrapper .flexing .right-unclickable{
    background-color: #3198f7;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination .wrapper .flexing .left:hover, 
.pagination .wrapper .flexing .right:hover{
    background-color: #3197f7d7;
}

.pagination .wrapper .flexing .left,
.pagination .wrapper .flexing .left-unclickable{
    margin-right: 5px;
}

.pagination .wrapper .flexing .right,
.pagination .wrapper .flexing .right-unclickable{
    margin-left: 5px;
}


.pagination .wrapper .flexing .right-unclickable,
.pagination .wrapper .flexing .left-unclickable{
    background-color: #2a2d3e !important;
}



.pagination .wrapper .flexing .middle ul{
    display: flex;
    gap: 5px;
}

.pagination .wrapper .flexing .middle ul li{
    height: 30px;
    min-width: 30px;
    text-align: center;
    line-height: 30px;
}

.pagination .wrapper .flexing .middle ul .p-link:hover,
.pagination .wrapper .flexing .pagination-active{
    background: linear-gradient(90deg, #3198f7, #76b5f0);
    cursor: pointer;
    border-radius: 5px;
}













.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  .check:hover:before {
    opacity: 1;
  }
  .check:hover svg {
    stroke: #4285f4;
  }
  .cbx:checked + .check svg {
    stroke: #4285f4;
  }
  .cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  .cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  