@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

body {
    background: #141E30;
}


div.ql-container.ql-snow{
    border: transparent;
}

.container{
    width: 1200px;
    margin: 0 auto;
}


/* Navigation Bar */


.navbar {
    height: 60px;
    width: 100%;
    background-color: #192236;
    position: absolute;
    top: 0;
}

.navbar .logo{
    color: #FFF;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
    transition: .3s ease;
    margin-left: 10px;
}

.navbar .logo:hover {
    color: #7f88b4;
}

.navbar .right-side .links{
    height: 60px;
    display: flex;
    align-items: center;
}

.navbar .right-side .links li .nav-link{
    margin-left: 15px;
    color: #7f88b4;
    font-weight: 100;
    font-size: 13px;
    margin-left: 10px;
    font-family: 'Fredoka One', cursive;
    text-transform: capitalize;
}

.navbar .right-side .links li .nav-link:hover{
    color: #FFF;
    transition: .3s ease;
}

.navbar .right-side .links li .nav-link span{
    margin-left: 5px;
}


.navbar button{
    padding: 10px 20px;
    background-color: #2287e6;
    color: #FFF;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
}

.navbar button:hover{
    background-color: #2697ff;
    cursor: pointer;
    transition: .2s ease;
}

/* End Navigation Bar */


/* header */

.header .header-content{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    /*background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/background.jpg");*/
    background-position: center;
    background-size: cover;
}

.header .header-content .right-side{
    margin-left: 50px;
}

.header .img{
    width: 600px;
    height: 600px;
}


.header .right-side .text .society-name {
    color: white;
    font-size: 50px;
    padding-bottom: 5px;
    font-family: 'Fredoka One', cursive;
}

.header .right-side .text .quotes{
    color: #FFFFFF99;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    font-size: 14px;

}

.header .right-side .btn {
    margin-top: 20px;
    padding: 10px 40px;
    border: none;
    background-color: #2287e6;
    color: white;
    transition: .4s ease;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
}

.header .right-side .btn:hover {
    background-color: white;
    color: #ff9100;
}


/* End header  */


/* upcoming  */

.g-home{
    background-color: rgb(3, 5, 22);
}

.g-home  p.top-head-p{
    color: rgb(202, 202, 202);
    font-size: 13px;
    margin-bottom: 40px;
    padding: 20px 30px;
    border-left: 5px solid white;
    background-color: #141E30;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
}

.g-home .upcoming,
.g-home .games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-weight: 100;
}

.g-home .upcoming .title,
.g-home .games .title {
    margin: 30px 0;
    padding: 20px 30px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    font-size: 25px;
    color: #FFF;
}

.g-home .upcoming .categories,
.g-home .games .categories {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.tourn {
    width: 550px;
    background-color: #141E30;
    border-radius: 10px;
    border-right: 5px solid rgba(0, 0, 0, 0.6);
    border-bottom: 5px solid rgba(0, 0, 0, 0.6);
}

.tourn .left img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.tourn .right {
    padding: 15px;
    width: 100%;
}

.tourn .right h2{

    font-size: 18px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    margin-bottom: 10px;
}

.tourn .right p{
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 5px;
    color: rgb(192, 192, 192);
    font-family: 'Balsamiq Sans', cursive;
}

.tourn .right p > span{
    margin-left: 30px;
    position: relative;
}

.tourn .right > p > span::before{
    content: '';
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: -20px;
}

.tourn .right span.colorful{
    color: #7f88b4;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
}

.tourn .right .buttons{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    width: 100%;

}

.tourn .right .join-button{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: none;
    font-size: 14px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    border-radius: 5px;
}

.tourn .right .join-button{
    background-color: #2287e6;
    color: #FFF;
    width: 200px;
}

.tourn .right .join-button:hover{
    background-color: #ec8f16;
    cursor: pointer;
}

.tourn .right button a{
    color: #FFF;
}

.g-home .games .categories .game{
    width: 250px;
    background-color: #141E30;
    border-radius: 10px;
}

.g-home .games .categories .game img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.g-home .games .categories{
    margin: 40px 0;
}

.g-home .games .categories .game .bottom{
    padding: 10px;
}

.g-home .games .categories .game .bottom h4{
    font-size: 16px;
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 5px;
}

.g-home .games .categories .game .bottom p{
    font-size: 13px;
    font-weight: 100;
    font-family: 'Chakra Petch', sans-serif;
    margin-left: 5px;
}

.g-home .games .categories .game .bottom span{
    background-color: #0e7413;
    border-radius: 5px;
    padding: 5px 10px;
    color: #FFF;
    font-size: 10px;
}

/* End upcoming  */






.store .buy-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 50px 0;
}

.card-element{
    width: 390px;
    background-color: #28303f;
    padding: 15px;
    box-shadow:  0 0 5px rgba(255, 255, 255, 0.123);
}


.store .market {
    padding-top: 80px;
    padding-bottom: 5px;
    font-size: 40px;
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
}

.store .container .title {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Fredoka One', cursive;
}

.store .descr {
    color: rgb(220, 220, 220);
    font-size: 14px;
    font-family: 'Chakra Petch', sans-serif;
}

.store .card-element .left{
    margin-right: 15px;
}

.store .card-element .left .icon{
    display: inline-block;
    border-radius: 10px;
}

.store .card-element .left img{
    width: 125px;
    height: 125px;
    border-radius: 5px;
}

.store .card-element .right{
    width: 100%;
}

.store .card-element .right h3{
    font-size: 19px;
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 5px;
}

.store .card-element .right p{
    color: #EEE;
    font-weight: 300;    
    font-family: 'Sora', sans-serif;
    font-size: 11px;
}

.store .card-element .right .c-d > div{
    font-size: 14px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    color: white;
    padding: 10px 0;
    margin-right: 10px;
    background-color: #141E30;
    width: 75px;
    height: 30px;
    border-radius: 5px;
}

.store .card-element .right .c-d > div > span{
    margin-left: 5px;
}

.store .card-element .right .c-d{
    margin-bottom: 15px;
}


.store .card-element .right .price{
    color: #7f88b4;
    font-size: 14px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    text-align: center;
    padding: 10px 0;
}

.store .card-element .right button{
    margin-top: 10px;
    height: 30px;
    width: 100%;
    background-color: #2697ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-family: 'Fredoka One', cursive;
    flex-grow: 1;
    cursor: pointer;
}

.store .card-element .right button a{
    color: white;
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
}

.store .card-element .right button:hover{
    color: #2697ff;
    background-color: white;
}

.store .card-element .right button:hover a{
    color: #2697ff;
}

.store .card-element .right button span{
    margin-left: 5px;
}

#profile .profile{
    padding-top: 70px;
}

#profile .profile .wrapper{
    color: white;
    background-color: chartreuse;
}

#profile .profile .wrapper .right{
    background: #28303f;
    min-height: 500px;
}

#profile .profile .wrapper .right .profile-navbar ul{
    gap: 20px;
    font-family: 'Epilogue', sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    color: #7f88b4;
    background-color: #192236;
    padding: 20px;

    justify-content: flex-end
}

#profile .profile .wrapper .right .profile-navbar ul li{
    cursor: pointer;
}

#profile .profile .wrapper .right .profile-navbar ul li.active{
    color: #FFF;
}

#profile .profile .wrapper .right .no-data{
    height: 500px;
    font-family: 'Fredoka One', cursive;
    text-transform: capitalize;
}

#profile .profile .wrapper .right .no-data span{
    background-color: #141E30;
    padding: 20px 50px;
    border-left: 5px solid white;
}

#profile .profile .wrapper .right .data {
    padding: 20px;
    width: 100%;
}



#profile .profile .wrapper .editprofile{
    margin: 0 auto;
    background-color: white;
    color: #030516;
    padding: 20px;
}

#profile .profile .wrapper .editprofile .btn button{
    width: 100%;
    height: 35px;
    border: none;
    background-color: #2287e6;
    font-family: 'Fredoka One', cursive;
    color: white;
    transition: 0.25s ease-in
}

#profile .profile .wrapper .editprofile .btn button:hover{
    background-color: #2697ff;
    cursor: pointer;
}

#profile .profile .wrapper .editprofile .f-b-c button.hide{
    width: 25px;
    height: 25px;
    background-color: rgb(252, 37, 13);
    color: wheat;
    border: none;
    border-radius: 3px;
}

#profile .profile .wrapper .editprofile ul li{
    color: #7f88b4;
    font-size: 14px;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
}
#profile .profile .wrapper .editprofile ul li.active{
    color: #030516;
}


#profile .profile .wrapper .editinfo .input{
    margin-bottom: 10px;
}

#profile .profile .wrapper .editinfo .input label{
    color: #28303f;
    font-size: 13px;
}

#profile .profile .wrapper .editinfo .input input{
    color: #28303f;
    font-size: 13px;
    height: 30px;
    border: 1px solid #7f88b480;
    outline: none;
    padding: 0 10px;
}



.no-data{
    font-family: 'Fredoka One', cursive;
    text-transform: capitalize;
}

.no-data span{
    padding: 20px 50px;
}









#profile .profile #competitions,
#profile .profile #transitions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

#profile .profile #competitions .comp,
#profile .profile #transitions .comp{
    background-color: #192236;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

#profile .profile #competitions .comp .ttop .delete,
#profile .profile #transitions .comp .ttop .delete{
    padding:5px;
}

#profile .profile #competitions .comp .ttop .see,
#profile .profile #transitions .comp  .ttop .see{
    padding: 5px;
}

#profile .profile #competitions .comp .infos,
#profile .profile #transitions .comp .infos{
    margin-top: 10px;
    font-family: 'Sora', sans-serif;

}

#profile .profile #competitions .comp .infos h3,
#profile .profile #transitions .comp .infos h3{
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
}

#profile .profile #competitions .comp .infos h3 img,
#profile .profile #transitions .comp  .infos h3 img{
    border-radius: 5px;
}

#profile .profile #competitions .comp .infos p,
#profile .profile #transitions .comp .infos p{
    color: #7f88b4;
    font-size: 12px;
}

#profile .profile #competitions .comp .infos .status,
#profile .profile #transitions .comp .infos .status{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 7.5px;
    background-color: #2287e6;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
}

#profile .profile .comp .infos .silk{
    margin-top: 10px;
}


#profile .profile #infos{
    display: flex;
    gap: 20px;
    width: 100%;
}

#profile .profile #infos .p-left{
    width: 300px;
    position: relative;
}


#profile .profile #infos .p-left .p-profile {
    position: relative;
    background-color: #192236;
}

#profile .profile #infos .p-left .p-profile .profile-pic-upload{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background-color: #2287e6;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Fredoka One', cursive;
    font-size: 10px;
    text-transform: uppercase;
}

#profile .profile #infos .p-left .p-profile .profile-pic-hidden{
    display: none;
}




#profile .profile #infos .p-left .change-profile{
    position: absolute;
    top: 10px;
    right: 10px;
}

#profile .profile #infos .p-left .change-profile input[type="file"]{
    display: none;
}


#profile .profile #infos .p-left .p-left-infos{
    padding: 20px 0;
}

#profile .profile #infos .p-left .p-left-infos .in{
    margin-bottom: 10px;
}

#profile .profile #infos .p-left .p-left-infos .in > span{
    margin-left: 10px;    
    font-family: 'Sora', sans-serif;
    color: #7f88b4;
    font-size: 13px;
}

#profile .profile #infos .p-left .p-left-infos .in > span .value{
    color: #FFF;
}

#profile .profile #infos .p-right .top{
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
}

#profile .profile #infos .p-right .top button{
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #2697ff;
    color: White;
}

#profile .profile #infos .p-right p{
    font-size: 13px;
    color: #7f88b4;
    font-family: 'Fredoka One', cursive;
}

#profile .profile #infos .p-right .desc{
    margin-top: 20px;
}













.champ {
    padding: 100px 0 50px 0;
}

.champ .wrapper .img{
    margin-right: 30px;
}

.champ .wrapper .img img{
    border-radius: 10px;
}

.champ .wrapper .infos h2{
    font-size: 26px;
    font-family: 'Fredoka One', cursive;

    margin-bottom: 20px;
}

.champ .wrapper .infos p.label{
    font-size: 13px;
    color: #7f88b4;
    font-family: 'Sora', sans-serif;
}

.champ .wrapper .infos p span{
    font-size: 13px;
    color: #FFF;
    font-family: 'Sora', sans-serif;
}

.champ .wrapper .infos .desc{
    font-size: 14px;
    color: #FFF;
    font-family: 'Chakra Petch', sans-serif;
    margin-top: 10px;
}

.champ .wrapper .infos .desc .cont span{
    color: white;
}

.champ .wrapper .infos button{
    margin-top: 10px;
    color: #FFF;
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
    background-color: #2697ff;
    border: none;
    width: 400px;
    height: 35px;
    border-radius: 5px;
}

.champ .wrapper .infos button:hover{
    color: #2697ff;
    background-color: #FFF;
    cursor: pointer;
}







.games-ava .wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.games-ava button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #28303f;
    font-size: 13px;
    color: #FFF;

    font-family: 'Fredoka One', cursive;
}

.games-ava button.gg-active,
.games-ava button:hover{
    color: #141E30;
    background-color: #FFF;
    cursor: pointer;
}






.store{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

















.community .padding{
    padding-top: 60px;
}


.community .community-navbar{
    background-color: #FFF;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #192236;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
}

.community .community-navbar ul li{
    cursor: pointer;
    font-size: 12px;
}

.community .community-navbar ul li.com-active,
.community .community-navbar ul li:hover{
    color: #2697ff;
    transition: .2s ease-in;
}

.community .community-navbar .search input{
    width: 250px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: none;
    border-left: 1px solid #7f88b4;
    border-top: 1px solid #7f88b4;
    border-bottom: 1px solid #7f88b4;
    padding: 0 10px;
    outline: none;
    font-family: 'Sora', sans-serif;
    font-size: 12px;
}

.community .community-navbar .search button{
    width: 30px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #2697ff;
    color: white;
}


.community .top-section h3{
    font-size: 20px;
    color: #FFF;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
}

.community .top-section button{
    padding: 10px 15px;
    border: none;
    background-color: #2697ff;
    font-size: 10px;
    font-weight: 100;
    color: #FFF;
    border-radius: 5px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    text-transform: uppercase;
}
.community .top-section button:hover{
    background-color: #2287e6;
    color: #FFF;
    cursor: pointer;
    transition: .2s ease;
}

.community .holder{
    margin: 20px 0;
}

.community .holder .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.community .holder .wrapper .c-card{
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.192);
    padding: 15px;
    border-radius: 5px;
}

.community .holder .wrapper .c-card .top h2{
    font-family: 'Fredoka One', cursive;
    color: #192236;
    font-size: 15px;
}

.community .holder .wrapper .c-card .top button{
    color: #FFF;
    background-color: #2287e6;
    border-radius: 5px;
    border: none;
    font-family: 'Sora', sans-serif;
    font-size: 12px;
}

.community .holder .wrapper .c-card .top button.see{
    width: 60px;
    height: 30px;
}

.community .holder .wrapper .c-card .top button.join{
    width: 80px;
    height: 30px;
}

.community .holder .wrapper .c-card .top button:hover{
    background-color: #2697ff;
    cursor: pointer;
    transition: .25s ease;
}

.community .holder .wrapper .c-card .bottom{
    margin-top: 10px;
}

.community .holder .wrapper .c-card .bottom .left img{
    width: 100px;
    border-radius: 5px;
}

.community .holder .wrapper .c-card .bottom .right{
    flex-grow: 1;
}

.community .holder .wrapper .c-card .top button a{
    display: block;
    height: 30px;
    line-height: 30px;
    color: #FFF;
}

.community .holder .wrapper .c-card .bottom .right .data .title{
    color: #3a3a3a;
    font-size: 14px;
}

.community .holder .wrapper .c-card .bottom .right .data .value{
    color: #192236;
    font-family: 'Fredoka One', cursive;
    font-size: 13px;
}


.community .form .c-button button,
.grouppage .form .c-button button{
    height: 35px;
    background-color: #2697ff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
}

.community .form .c-button button:hover{
    background-color: #2287e6;
}






.grouppage .wrapper{
    padding-top: 60px;
}

.grouppage .wrapper .left{
    width: 250px;
    margin-top: 100px;
    position: relative;
    display: inline;
}


.grouppage .wrapper .left .background{
    padding: 15px;
    background-color: #28303f;
    border-radius: 5px;
}



.grouppage .wrapper .left .icon{
    position: absolute;
    top: -75px;
    right: 50px;
}

.grouppage .wrapper .left .icon img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.grouppage .wrapper .left .name{
    padding-top: 70px;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
}
.grouppage .wrapper .left .description{
    font-size: 12px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    margin-top: 5px;
    color: #7f88b4;
}

.grouppage .wrapper .left .infos{
    margin-top: 15px;
    color: #7f88b4;
    font-family: 'Fredoka One', cursive;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grouppage .wrapper .left .created_at{
    color: #FFFFFFAA;
    font-family: 'Sora', sans-serif;
    font-size: 12px;
    margin-top: 10px;
}

.grouppage .wrapper .left .infos .section{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #141E30;
}

.grouppage .wrapper .left button{
    background-color: #2697ff;
    color: white;
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 100%;
    font-family: 'Fredoka One', cursive;
}

.grouppage .wrapper .left button:hover{
    color: #2697ff;
    background-color: white;
    cursor: pointer;
}


.grouppage .wrapper .middle{
    padding: 20px;
    width: 550px
}

.grouppage .wrapper .middle .post-holder .post{
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    background-color: #28303f;
}

.grouppage .wrapper .middle .post span{
    display: inline-block;
    font-weight: 100;
    padding-bottom: 10px;
    font-size: 12px;
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.grouppage .wrapper .middle .post-holder .post .post-inter{
    color: #7f88b4;
    margin-top: 5px;
    gap: 10px;
}

.grouppage .wrapper .middle .post-holder .post .post-inter .button span{
    font-size: 12px;
}


.grouppage .wrapper .middle .post-holder .post .post-inter .p-section .button{
    background-color: #2287e6;
    border-radius: 5px;
    color: white;
    padding: 7.5px 12.5px;
}

.grouppage .wrapper .middle .post-holder .post .post-inter .clicked-section .button{
    color: #2287e6;
    border-radius: 5px;
    background-color: white;
    padding: 7.5px 12.5px;
}

.grouppage .wrapper .middle .post-holder .post .post-inter .clicked-section .button:hover, 
.grouppage .wrapper .middle .post-holder .post .post-inter .p-section .button:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: .2s ease;
}

.grouppage .wrapper .middle .post-holder .post .righ{
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





.grouppage .wrapper .middle .post-holder .post-doc img{
    width: 100%;
}


.grouppage .wrapper .right{
    width: 450px;
    background-color: #28303f;
    color: #FFF;
    position: absolute;
    bottom: 20px;
    right: 20px;
    top: 80px;
}

.grouppage .wrapper .right .messages-holder{
    padding: 20px;
    height: 485px;
    overflow-y: auto;
    margin-bottom: 30px;
}

.grouppage .wrapper .right .messages-holder .message .sender{
    font-size: 10px;
    margin-left: 5px;
}

.grouppage .wrapper .right .messages-holder .message .content{
    padding: 10px;
    border-radius: 5px;    
    background-color: #192236;
    font-size: 13px;
}



.grouppage .wrapper .right .input-holder{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    background-color: #192236;
    margin-top: 30px;
}

.grouppage .wrapper .right .input-holder input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    color: #FFF;
}

.grouppage .wrapper .right .input-holder button{
    width: 50px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: white;
}




.community .news{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.community .news .post{
    background-color: #28303f;
    color: #FFF;
    width: 500px;
    padding: 15px;
}

.community .news .post span{
    font-size: 12px;
    color: #7f88b4;
}

.community .news .post p{
    margin-bottom: 5px;
    font-size: 13px;
}

.community .news .post img{
    width: 100%;
    margin-bottom: 5px;
}


.community .news .post .top img{
    width: 25px;
    border-radius: 10px;
}

.community .news .post .button{
    background-color: #2287e6;
    border-radius: 5px;
    color: white;
    padding: 7.5px 12.5px;
}

.community .news .post .p-section .button{
    cursor: pointer;
}

.community .news .post .clicked-section .button{
    color: #2287e6;
    border-radius: 5px;
    background-color: white;
    padding: 7.5px 12.5px;
    cursor: pointer;
}












.footer{
    display: flex;
    flex-grow: 1;
}

.footer .container {
    padding: 20px;
    background-color: black;
    flex-grow: 1;
    align-self: flex-end;

}

.footer .foo-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer .foo-wrapper h3{
    margin-bottom: 20px;
    font-family: 'Fredoka One', cursive;
}
.footer .foo-wrapper h3 span{
    font-size: 10px;    
    color: #FFFFFFAA;
    font-family: 'Sora', sans-serif;
}

.footer .foo-wrapper .foo-infos{
    width: 400px;
}

.footer .foo-wrapper .foo-infos span{
    font-size: 12px;
    color: #7f88b4;
}

.footer .foo-wrapper .foo-links{
    width: 200px;
}

.footer .foo-wrapper .foo-links li{
    list-style-type: square;
    margin-left: 20px;
}
.footer .foo-wrapper .foo-links li a{
    font-size: 15px;
    color: #7f88b4;
}

.footer .foo-wrapper .foo-contacts{
    width: 350px;
}

.footer .foo-wrapper .foo-contacts label{
    font-size: 13px;
    color: #7f88b4;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 2px;
}

.footer .foo-wrapper .foo-contacts .field{
    margin-bottom: 10px;
}

.footer .foo-wrapper .foo-contacts input{
    height: 35px;
    padding: 10px;
}

.footer .foo-wrapper .foo-contacts textarea{
    height: 100px;
    padding: 10px;
}

.footer .foo-wrapper .foo-contacts input,
.footer .foo-wrapper .foo-contacts textarea{
    font-size: 12px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 10px;
    color: #192236;
    font-family: 'Fredoka One', cursive;
}

.footer .foo-wrapper .foo-contacts form .button button{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background-color: #2287e6;
    font-size: 12px;
    font-family: 'Fredoka One', cursive;
}



.footer .socials {
    width: 100%;
    margin-bottom: 20px;
}

.footer .socials .social{
    width: 40px;
    height: 40px;
}

.footer p{
    margin-top: 20px;
    padding: 10px;
    font-size: 17px;
    color: #FFF;
    font-family: 'Fredoka One', cursive;
}

.footer p span{
    font-size: 17px;
    color: #ec8f16;
    font-family: 'Fredoka One', cursive;
}






.join-page{
    height: 100vh;
}


.join-page h2{
    font-size: 27px;
    color: #ffffff;
    font-family: 'Fredoka One', cursive;
}

.join-page .joined{
    color: rgb(104, 220, 81);
    margin: 10px;
    font-size: 15px;
}

.join-page p, .join-page span{
    color: #ffffff;
    font-family: 'Fredoka One', cursive;
    font-size: 50;
}

.join-page .balance{
    margin: 20px;
}

.join-page .balance > div{
    background-color: #030516;
    padding: 10px 20px;
    border-radius: 5px;
}

.join-page button{
    padding: 10px 20px;
    background-color: #2697ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
}

.join-page button:hover{
    background-color: #2287e6;
}
.h-menu{
    display: none;
}
.champ .f{
    flex-wrap: wrap !important;
}
.PhoneInputInput{
    padding: 0 20px;
    height: 40px;
    outline: none;
    color: #9ca3af;
}
.PhoneInputCountry{
    background: rgb(255, 255, 255);
    padding: 4px;
    margin-right: 0 !important;
    outline: none;
}
.PhoneInputCountrySelectArrow{
    border-color: #000 !important;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev, .swiper-button-next {
    top: 45%;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid gray;
    border-radius: 50%;
    color: blue;
    font-weight: 700;
    outline: 0;
    transition: background-color .2s ease, color .2s ease;
  }
  
  .swiper-button-prev::after{
        position: relative;
        left: -1px;
  }
  
  .swiper-button-next::after {
        position: relative;
        left: 1px;
  }
  
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }
  
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
  }
  
  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }
@media screen and (max-width: 1250px) {
    .container{
        width: 100%;
        padding: 0 40px;
    }
    #dashboard .page .grid-split{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}
#popup-form .form-content .form button.full-submit-btn, #popup-form-w .form-content .form button.full-submit-btn{
    display: flex !important;
}
@media screen and (max-width: 992px) {
    .header-content img{
        width: 400px !important;
        height: 400px !important;
    }
    .navbar .right-side{
        display: none;
    }
    .navbar.opened .right-side .links{
        display: block !important;
    }
    .navbar.opened .f-b-c{
        display: block !important;
    }
    .navbar.opened .right-side{
        height: 100vh;
        background: #192236;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        left: 0;
        top: 55px;
        z-index: 100;
    }
    .navbar.opened .right-side li{
        margin: 40px 0;
    }
    .h-menu{
        display: block !important;
        cursor: pointer;
    }
    .h-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        width: 100%;
    }
    .sidebar .h-container{
        padding: 20px 10px !important;
    }
    .container{
        width: 100%;
        padding: 0 10px;
    }
    #competition, #game, #player, #token, #offer, #group, #dashboard{
        display: block !important;
    }
    .sidebar{
        width: 100% !important;
        height: auto !important;
    }
    .sidebar .logout,.sidebar.opened .logout,.sidebar .s-links{
        display: none;
    }
    .sidebar.opened .s-links{
        display: block !important;
    }
    .sidebar.opened .logout{
        display: flex !important;
        margin-top: 10px;
    }
    .sidebar .s-logo{
        padding: 0 !important;
    }
    #offer .page .offer-holder .wrapper{
        grid-template-columns: repeat(3,1fr) !important;
    }
    .page-content{
        padding: 10px;
        width: 100% !important;
    }
    .page-content .game-detail, .competition-detail{
        grid-template-columns: 1fr !important;
    }
    .f-n-s{
        display: block !important;
    }
}
@media screen and (max-width: 768px) {
    .header-content{
      display: block !important;
      height: auto !important;
    }
    .header-content img{
        display: block;
        width: 300px !important;
        height: 300px !important;
        margin: auto;
    }
    .header-content .right-side{
        margin: auto !important;
        display: block;
        width: max-content;
    }
    .tourn{
        width: 100% !important;
    }
    .community .community-navbar{
        height: auto !important;
        padding: 7px 0;
    }
    .community .f-b-c{
        flex-wrap: wrap;
    }
    .community .news{
        justify-content: center;
    }
    .community .holder .wrapper{
        grid-template-columns: 1fr;
    }
    .grouppage .wrapper{
        flex-wrap: wrap;
    }
    .grouppage .wrapper .left{
        width: 100% !important;
    }
    #dashboard .page .tables{
        grid-template-columns: 1fr !important;
    }
    #offer .page .offer-holder .wrapper{
        grid-template-columns: repeat(2,1fr) !important;
    }
    .table{
        display: block !important;
    }
    #popup-form .form-content.double .double-form, #popup-form-w .form-content.double .double-form{
        grid-template-columns: 1fr !important;
    }
}
@media screen and (max-width: 576px) {
    .header-content .right-side .f{
        display:  block !important;
        gap: 5px !important
    }
    .header-content .right-side a{
        display: block !important;
    }
    .tourn{
        display: block !important;
    }
    .tourn .left img{
        width: 100% !important;
        height: auto !important;
    }
    .g-home .games .categories .game{
        width: 100% !important;
    }
    .g-home .games .categories .game .top img{
        width: 100% !important;
        height: auto !important;
    }
    #profile .profile #infos{
        flex-wrap: wrap;
        justify-content: center;
    }
    #dashboard .page .statistics{
        grid-template-columns: 1fr;
    }
    .d-navbar.f-b-c, .d-navbar .f-n-c{
        flex-wrap: wrap;
    }
    .table{
        overflow: auto;
    }
    #dashboard .page .tables{
        display: block !important;
    }
    .grid-split{
        display: block !important;
    }
    #dashboard .page .tables .competition-table, #dashboard .page .tables .games-table{
        margin: 10px 0;
    }
    #offer .page .offer-holder .wrapper{
        grid-template-columns: 1fr !important;
    }
    #login .login-form .wrapper, #register .login-form .wrapper{
        padding: 0 7px;
        width: 100% !important;
    }
    .c-top .f-n-c input{
        width: 100% !important;
    }
    #token .page .token-holder .wrapper{
        grid-template-columns: 1fr !important;
    }
}