#detail-page{
    padding: 20px;
}


#detail-page .page-content{
    width: 800px;
}
#detail-page .page-content.group{
    width: 1200px;
}


#detail-page .redirect{
    margin-right: 20px;
    background-color: #323449;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 5px solid #2a2d3e;
}

#detail-page .redirect:hover{
    cursor: pointer;
    background-color: #2a2d3e;
    border: 5px solid #323449;
}



/* competition Detail page */

#detail-page .page-content .competition-detail, 
#detail-page .page-content .game-detail, 
#detail-page .page-content .player-detail{
    display: grid;
    grid-template-columns:2fr 3fr;
    gap: 10px;
}


#detail-page .page-content .competition-detail .competition-left,
#detail-page .page-content .competition-detail .competition-right,
#detail-page .page-content .game-detail .game-left,
#detail-page .page-content .game-detail .game-right, 
#detail-page .page-content .player-detail .player-left, 
#detail-page .page-content .player-detail .player-right{
    padding: 15px;
    background-color: #2a2d3e;
    border: 5px solid #323449;
}

#detail-page .page-content.group .group-detail .group-left .background,
#detail-page .page-content.group .group-detail .group-middle .background,
#detail-page .page-content.group .group-detail .group-right .background
{
    padding: 15px;
    background-color: #2a2d3e;
    border: 5px solid #323449;
}

#detail-page .page-content .competition-detail .info,
#detail-page .page-content .game-detail .info, 
#detail-page .page-content .player-detail .info,
#detail-page .page-content.form .group-detail .info{
    margin-top: 10px;
    color: #d4d5db;
}


#detail-page .page-content .competition-detail .img img,
#detail-page .page-content .game-detail .img img,
#detail-page .page-content .player-detail .img img,
#detail-page .page-content.group .group-detail .img img{
    border-radius: 5px;
    width: 100%;
}

#detail-page .page-content .competition-detail .info .name h3, 
#detail-page .page-content .game-detail .info .name h3, 
#detail-page .page-content .player-detail .info .name h3, 
#detail-page .page-content.group .group-detail .info .name h3{
    color: #9094aa;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}

#detail-page .page-content .competition-detail .info .name span.joining, 
#detail-page .page-content .game-detail .info  .name span.joining, 
#detail-page .page-content .player-detail .info .name span.joining{
    font-family: 'Fredoka One', cursive;
    font-size: 12px;
}

#detail-page .page-content .competition-detail .info .desc, 
#detail-page .page-content .game-detail .info .desc, 
#detail-page .page-content .player-detail .info .desc,
#detail-page .page-content.form .group-detail .info .desc{
    margin: 5px 0
}

#detail-page .page-content .competition-detail .info .desc p, 
#detail-page .page-content .game-detail .info .desc p, 
#detail-page .page-content .player-detail .info .desc p,
#detail-page .page-content.form .group-detail .info .desc p{
    font-size: 14px;
}

.owner span,
.game span,
.map span,
.time span, 
.status span, 
.email span{
    font-size: 14px;
    color: #9094aa;
    font-family: 'Chakra Petch', sans-serif;
    margin-left: 5px;
}

.owner-badge{
    font-size: 12px !important;
    background-color: #265d91;
    color: #FFF !important;
    padding: 4px 10px;
}


#detail-page .page-content .competition-detail .info .price div, 
#detail-page .page-content .player-detail .info .tokens div{
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 5px;
    margin-top: 10px;
    color: #FFF;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
}

#detail-page .page-content .competition-detail .info .price span,
#detail-page .page-content .player-detail .info .tokens{
    margin-left: 5px;
}

#detail-page .page-content .competition-detail .info .price div.coin, 
#detail-page .page-content .player-detail .info .tokens div.coin{
    background-color: #f6d92baa;
}

#detail-page .page-content .competition-detail .info .price div.diamond, 
#detail-page .page-content .player-detail .info .tokens div.diamond{
    background-color: #60c1ebaa;
}


#detail-page .page-content .competition-detail .competition-right{
    overflow-y: auto;
    height: 560px;
}

#detail-page .page-content .competition-detail .competition-right .player,
#detail-page .page-content .game-detail .game-right .comp, 
#detail-page .page-content .player-detail .player-right .comp
{
    background-color: #212332;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

#detail-page .page-content .competition-detail .competition-right .player:last-child, 
#detail-page .page-content .game-detail .game-right .comp:last-child, 
#detail-page .page-content .player-detail .player-right .comp:last-child{
    margin-bottom: 0px;
}

#detail-page .page-content .competition-detail .competition-right .player span, 
#detail-page .page-content .game-detail .game-right .comp span, 
#detail-page .page-content .player-detail .player-right .comp span{
    margin-left: 5px;
    font-size: 14px;
    color: #9094aa;
}







#detail-page .page-content .game-detail .game-right{
    overflow-y: auto;
    height: 490px;
}



#detail-page .page-content .player-detail .player-right{
    overflow-y: auto;
    height: 510px;
}





#detail-page .page-content.group .group-detail{
    display: flex;
    justify-content: space-around;
}

#detail-page .page-content.group .group-detail .group-left{
    width: 300px;
    min-height: 200px;
    max-height: 500px;
}


#detail-page .page-content.group .group-detail .group-middle{
    width: 500px;
}

#detail-page .page-content.group .group-detail .group-middle img{
    width: 100%;
    margin-bottom: 10px;
}

#detail-page .page-content.group .group-detail .group-right{
    width: 400px;
    height: 500px;
}